/* CSS Document */

/*!
 * Bootstrap Responsive v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
 
 @media (min-width: 979px) {
	 .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
		/*width: 940px;	*/
	}
 }

@media (min-width: 768px) and (max-width: 979px) { /* iPad portrait */
	.wide h2{
		display: block;
		float: none;
		margin-bottom: 10px;
		padding-bottom:10px;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}

@media (max-width: 767px) { /* small tablet */
	body{
		padding: 0;
	}
	
	.wide h2{
		display: block;
		float: none;
		margin-bottom: 10px;
		padding-bottom:10px;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	
	header, .main-content, footer{
		padding-left: 20px;
		padding-right: 20px;	
	}
	
	.video{
		margin-top: 15px;
		margin-bottom: 25px;	
	}
	
	section {
		margin-bottom: 20px;	
	}
	
	.case{
		text-align: center;	
	}
	
	#first h1, #second h1, #third h1{
		font-size: 21px;
    	line-height: 28px;	
	}
	
	#second h2, #third h2{
		margin-top: 10px;
		font-size: 18px;
		line-height: 24px;	
	}
	
	#second .col-md-8, #third .col-md-6{
		padding-left: 10px;	
	}
	
	.video{
		text-align: center;
	}
	
	.main-content h1{
		padding: 15px 10px;	
	}
	
	table{
		width: 100%;	
	}
	
	.example{
		padding-left: 0;	
	}
	
	.social_icons{
		float: none;
		display: block;
		margin-left: 0;
		margin-top: 25px;
	}
	
	footer .col-md-6{
		
	}

}

@media (max-width: 480px) { /* iPhone landscape / portrait */
	
	
	.trophy{
		display: none !important;	
	}
	
	
}

@media (min-width: 768px) {
 
}


