.main-content .col-md-4{
	padding-top: 30px;	
}

.main-content .col-md-8{
	padding-top: 30px;	
}

#moonwalk .col-md-4{
	padding-top: 0;	
}

#moonwalk .col-md-8{
	padding-top: 0;	
}
	
.navbar .nav{
	position: absolute;
}

