/* CSS Document */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=f16b1f7c-1c26-42c0-92f3-acba5d9cbbe6");
@font-face{
font-family:"Myriad W01 It";
src:url("Fonts/b7dea71a-f8e7-42e0-b03b-ae1b0b6eb0cd.eot?#iefix");
src:url("Fonts/b7dea71a-f8e7-42e0-b03b-ae1b0b6eb0cd.eot?#iefix") format("eot"),url("Fonts/7becdf28-cd45-4f8a-bcab-d8c861a8ebc5.woff") format("woff"),url("Fonts/b90a1a2e-a700-4528-aa00-535c93ecf8a9.ttf") format("truetype"),url("Fonts/85c745b1-d826-4e09-988f-82cd152fb0db.svg#85c745b1-d826-4e09-988f-82cd152fb0db") format("svg");
}
@font-face{
font-family:"Myriad W01 Lt";
src:url("Fonts/b3e9f984-f8ca-4650-90c3-d6f0aca0a27d.eot?#iefix");
src:url("Fonts/b3e9f984-f8ca-4650-90c3-d6f0aca0a27d.eot?#iefix") format("eot"),url("Fonts/b984f4e8-e37d-4502-bead-ffd991e64d1f.woff") format("woff"),url("Fonts/82d18baa-8811-4aa8-9338-9bafa08350d0.ttf") format("truetype"),url("Fonts/20e14bb9-6aec-47a9-8ef8-5613bf1d6eae.svg#20e14bb9-6aec-47a9-8ef8-5613bf1d6eae") format("svg");
}
@font-face{
font-family:"Myriad W01 Regular";
src:url("Fonts/2bd106a4-3872-4193-8627-d7af96dd4f7e.eot?#iefix");
src:url("Fonts/2bd106a4-3872-4193-8627-d7af96dd4f7e.eot?#iefix") format("eot"),url("Fonts/c5b1c170-d8f7-41f9-85c2-0ab670780c6b.woff") format("woff"),url("Fonts/ba1ff8f6-0c27-4e7b-8be5-818b6c3dd801.ttf") format("truetype"),url("Fonts/a379413e-a0b8-44dc-b250-1e000e4092a4.svg#a379413e-a0b8-44dc-b250-1e000e4092a4") format("svg");
}
@font-face{
font-family:"Myriad W01 SmBd";
src:url("Fonts/f71415c0-f68d-42cd-a948-05af81548ea5.eot?#iefix");
src:url("Fonts/f71415c0-f68d-42cd-a948-05af81548ea5.eot?#iefix") format("eot"),url("Fonts/c22866d7-ca67-4170-a113-cae280eea669.woff") format("woff"),url("Fonts/19ce9ea9-076e-4dcd-91a1-454f4830f120.ttf") format("truetype"),url("Fonts/18915124-98e4-4245-9e10-b921e09a6704.svg#18915124-98e4-4245-9e10-b921e09a6704") format("svg");
}

body{
	font-family:'Myriad W01 Lt';
	font-size: 16px;
	line-height: 22px;
	color: #565759;
	background-color:#f5f5f2;
}

em, i{
	font-family:"Myriad W01 It";
	font-style: normal;
}

strong, b{
	font-family:"Myriad W01 SmBd";
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-family:"Myriad W01 SmBd";
	margin: 0;
}

a{
	text-decoration: none;
	color: #00b9f1;
}


a:hover, a:active, a:focus{
	outline: none;
	text-decoration: underline;
	color: #00a2ec;
}

li{
	list-style: none;
}

ul, ol {
    margin: 0;
}

.queue-file{
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEE;
	margin-bottom:10px;
}

.queue-file strong{
	display: block;
	background-color: #DDD;
	padding: 5px;
}

.queue-file label{
	font-weight: normal;
}

.btn{
	/*font-size:16px;
	float: left;
	margin-top: 15px;*/
}

.btn-default{
	font-size:16px;
	margin-top: 15px;
}

.btn + .btn{
	margin-left: 15px;
}

.btn-sm{
	font-size: 14px;
	font-weight: normal;
}

.modal .btn-default,
form .btn-default{
	margin-top: 0;
	font-size: 14px;
}

table .btn-default{
	margin-top: 0;
	font-size: 12px;
}

.btn-top-margin{
	margin-top: 15px !important;
}

.btn{
	font-size:16px !important;
}

.btn-primary{

	float: right;
	margin-top: 15px;
	background-color: #0086cd;
    background-image: linear-gradient(to bottom, #00b9f1, #0086cd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-add{
	font-size:14px;
	background-color: #0086cd;
    background-image: linear-gradient(to bottom, #00b9f1, #0086cd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.modal-footer .btn{
	margin-top: 0;
}

form .btn-add,
#new-submission .btn-add{
	margin-left: 10px;
	padding: 5px 10px;
	line-height: 22px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
	background-color: #0086cd;
}

table .btn-primary.btn-xs{
	margin-top: 0;
	font-size:12px;
}

.form-control{
	position: relative;
	width: 100%;
}

input, select{
	margin-bottom: 10px;
}

form{
	margin: 0;
}

input, button, select, textarea {
    font-family: "Myriad W01 Regular";

}

.main-content{

}

header h1{
	background:url("../gr/copyclear_logo.png") no-repeat;
	width: 221px;
	height: 47px;
	float: left;
	text-indent: -9999px;
	margin: 20px 15px;
}

.container{
	position: relative;
}

.container h2{
	margin: 10px;
	font-size: 28px;

}

section{
	margin-bottom: 50px;
}

.main-content h1{
	padding: 15px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
	font-size:32px;
}

#first h1{
	font-size: 30px;
	line-height: 36px;
}

.box{
	border: 1px solid #dddddd;
	border-radius: 5px 5px 5px 5px;
	padding: 15px;
	background-color:#fff;
}

.box h3{
	font-size: 21px;
	margin-bottom:10px;
}

label{
	font-size: 16px;
	font-family:"Myriad W01 SmBd";
	font-weight: normal;
}

.helpbox{
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius: 5px 5px 5px 5px;
	padding: 15px;
	margin-bottom:15px;
}

.helpbox h4{
	padding: 0;
	margin: 0 0 10px 0;
}

.list {
	border-left: 1px solid #dddddd;
	padding: 0px 15px;
}

.text-list{
  padding-left: 15px;
}

.text-list li{
  list-style-type: square;
  padding-left: 5px;
  margin-left: 10px;
}

header{
	background-color:#67686a;
}

header .toolbar {
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
	font-size: 14px;
}

nav{
	background-color: #4f5052;
	margin-bottom: 30px;
}

.navbar {
	display:block;
	 margin-bottom: 0;
	 min-height: 0;
}

.navbar  > li > a {
	font-family:"Myriad W01 SmBd";
	font-size: 16px;
	padding: 12px 14px;
	float:left;
	color: #fff;
	border-right: 1px solid #3c3d3e;
}


.navbar > li > a:focus, .navbar > li > a:hover, .navbar > li > a.active{
	background-color: #3c3d3e;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
	text-decoration:none;
}

.navgrey{
	color:#3C3D3E;
}

.username{
	color: #fff;
	font-size: 14px;
	padding-top: 10px;
}

.key li{
	margin-bottom: 10px;
	background-image: url("../gr/key_icons.png");
	background-repeat: no-repeat;
	height: 24px;
	display: block;
	text-indent: 30px;
}

.wide h2{
	float: left;
	margin: 0 40px 0 0;
	padding: 0;
	font-size: 21px;
	line-height: 21px;
}

.wide .key li{
	display: inline;
	float: left;
	margin-bottom: 0;
	margin-right: 15px;
}

#company-search li{
	padding: 5px 10px;
}

#company-search li a{
	display: block;
}

#company-search li.active{
	background-color: rgba(0,0,0,.05);
	border-radius: 3px;
}

.status{
	/*display: block;*/
	float: left;
	width: 24px;
	height: 24px;
	background-image: url("../gr/key_icons.png");
	background-repeat: no-repeat;
	text-indent: -9999px;
}

h2 .status{
	margin-top:5px;
	margin-right: 5px;
}

.not-approved{
	background-position: 0 0;
}

tr.not-approved td{
	background-color: #f9cdcd !important;
}

.not-valid{
	background-position: 0 -24px;
}

tr.not-valid td{
	background-color: #fdd2e2 !important;
}

.pending{
	background-position: 0 -48px;
}

tr.pending td{
	background-color: #ffe0d1 !important;
}

.interim-approval,
.interim{
	background-position: 0 -72px;
}

tr.interim-approval td,
tr.interim td{
	background-color: #ffeecc !important;
}

.final-approval,
.final-approve{
	background-position: 0 -96px;
}

tr.final-approval td,
tr.final-approve td{
	background-color: #d7ead8 !important;
}

.new{
	background-position: 0 -120px;
}

tr.new td{
	background-color: #ccf1fc !important;
}

.sm-received{
	background-position: 0 -144px;
}

tr.sm-received td{
	background-color: #e2ddf4 !important;
}

.conversation{
	background-position: 0 -168px;
}

.viewed{
	background-position: 0 -192px;
}

.incomplete-submission{
	background-position: 0 -216px;
}

tr.viewed td,
tr.conversation td{
	background-color: #d4e4fc !important;
}

.sub_section{
	margin-bottom: 15px;
}

.accordion{
	margin-bottom: 0
}

.panel-body + table {
    padding: 0;
}

.panel-body h5{
	background-color: #67686A;
	padding: 10px;
	color: #FFF;
	font-size: 16px;
	font-weight: normal;
	border-bottom: 1px solid #FFF;
}

.panel-body table{
	font-size: 13px;
	/*width: 100%;*/
}

.panel-body thead th{
	font-family: "Myriad W01 Regular";
    font-weight: normal;
	background-color: #f3f3f3;
	border-bottom: 1px solid #fff;
}

#archive .panel-body{
	max-height: 320px;
	overflow-y:auto;
}

/*
.panel-body th{
	background: #67686A;
	color: #fff;
	font-weight:normal;
	border-right: 1px solid #fff;
	padding: 3px 10px 3px 15px;
	text-align: left;
}

.panel-body tr{
	border-bottom: 1px solid #c9c9c9;
}

.panel-body td{
	background: #f3f3f3;
	border-right: 1px solid #c9c9c9;
	padding: 3px 15px;
	text-align: left;
	line-height: 16px;
}
*/

.panel-body td{
	border-bottom: 1px solid #FFF;
	/*border-right: 1px solid #FFF;*/
}

.panel-body .last{
	border-right: 0;
}

.panel-default > .panel-heading{
	background: #fff;
}

.panel-heading{
	font-size: 18px;
	font-weight: normal;
	position: relative;
}

.panel-body .key li{
	margin-bottom: 0;
}

.accordion-group{
	margin-bottom: 10px;
}
.panel-toggle li{
	float: left;
	display: block;
}

.counter{
	background: url("../gr/counter.png") no-repeat;
	width: 28px;
	height: 24px;
	color: #fff;
	font-size: 13px;
	text-align: center;
}

.checkbox label{
	font-family: "Myriad W01 Regular";
	font-size: 14px
}

ul{
	padding-left:0;
}

.step{
	border-radius: 5px 5px 5px 5px;
	padding: 10px 15px;
	margin-bottom: 3px;
}

.complete{
	background-color:#67686a;
	color: #fff;

}

.current{
	background-color:#00b9f1;
	color: #fff;
}

.current a{
	color: #FFF;
}


.next{
	background-color:#dad9cd;
	color: #9b9a91;
}

.databox{

}

.labels{
	background-color:#F5F5F2;
	border: 1px solid #fff;
	padding:2px 10px;
	min-width:150px;
}

.data{
	font-family:"Myriad W01 SmBd";
	background-color:#F5F5F2;
	border: 1px solid #fff;
	padding:2px 10px;
	width:100%;
}

.brand_box{
	position:relative;
	width: 90%;
}

.btn_add{
	background-image: url("../gr/add.png");
	text-indent: -9999em;
	height: 26px;
	width: 26px;
	float: right;
	margin-left: 10px;
	position: absolute;
	top: 30px;
	left: 390px;
}

.filters ul{
	margin: 10px 0;
}


.filters li{
	font-size:14px;
	padding-left: 15px;
	margin: 3px 0px;
}

.filter-add {
    /*background: url("../gr/plus.png") no-repeat scroll left top rgba(0, 0, 0, 0);*/
    color: #4C4C52;
    font-size: 13px;
    line-height: 13px;
    /*padding-left: 20px;*/
}

.filter-add:hover{
	text-decoration: none;
}

.filter-add i{
	font-size: 16px;
	color: #00B9F1;
}

.active.filter-add i{
	color: #CCC;
}

.filters.panel-heading {
    padding: 10px 5px;
}

.form-padder{
	padding: 20px;
}

#seach-filters{
	background-color: rgba(0,0,0,.05);
	border-radius: 5px;
	padding: 10px;
}

#seach-filters h4{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.filter-group {
	display: none;
	margin: 5px 0;
}

.filter-group strong{
	float: left;
	font-weight: normal;
	padding-right:5px;
}

#seach-filters ul{
	display: block;
}

#seach-filters li{
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
	font-size: 14px;
}

#seach-filters li .label{
	font-size: 100%;
}

#seach-filters li .label a{
	color: #FFF;
}

.panel-title > a{
	font-size: 18px;
	color: #00b9f1;
}

#pie-charts{
	padding: 15px;
	background-color: #FFF;
}

#pie-charts h3{
	border-bottom: 1px solid rgba(0,0,0,.1);
	display: block;
	padding: 5px;
}

/* TWITTER TYPEAHEAD */

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    width: 600px;
}

.tt-dataset-brands{

}

.tt-suggestions{
	display: block;
}

.repo-name{
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.repo-name:hover{
	background-color: #0087CE;
	color: #FFF;
}

.tt-suggestion:last-child .repo-name{
	border-bottom: none;
}

.twitter-typeahead{
	width: 100%;
}

/* COMMENTS */

.message-bubble{
	display: block;
	border-radius: 5px;
	background-color: rgba(0,0,0,.05);
	box-shadow: 0 3px 0 rgba(0,0,0,.2);
	margin-bottom: 10px;
	border: 1px solid rgba(0,0,0,.025);
}

.message-bubble h4{
	border-bottom: 1px solid rgba(0,0,0,.1);
	background-color: rgba(255,255,255,.5);
	line-height: 18px;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 10px 15px;
}

.message-bubble h4 span{
	opacity: .5;
}

.message-bubble .message-content{
	margin: 0;
	display: block;
	padding: 10px;
	border-radius: 5px;
}

#comment-form h4{
	margin: 10px 0;
}

.circle{
	font-size: 14px;
	line-height: 15px;
	height: 22px;
	width: 22px;
	color: #FFF;
	padding: 4px;
	border-radius: 15px;
	float: left;
	background-color: #CCC;
	text-align:center;
	margin-right:5px;
}

#archive .table{
	font-size: 14px;
}

.table .breadcrumb{
	margin: 0;
}

td.long-words{
	word-break: break-all;
}

.plupload_filelist_footer{
	min-height: 40px;
}

.approval-code-label{
	font-size: 16px;
	float: left;
	margin: 5px 0;
}

.submissions-list{
	font-size:14px;
}

.submissions-list td img{
	width: 100%;
	max-height: 80px;
	max-width: 60px;
	margin-right: 10px;
	border-radius: 3px;
	border: 3px solid rgba(255,255,255,.6);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.alert-warning a{
	color: #8A6D3B;
	text-decoration: underline;
}

/* NEW TERMS & CONDITIONS */
.new-terms-box{
  display: block;
  overflow: auto;
  height: 400px;
  padding: 15px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
}

#search-form{
  margin-bottom: 15px;
}

#search-form .btn{
  font-size: 14px !important;
}
