/* CSS Document */

#media-library {
	position: relative;	
}

#media-library .nav-tabs{
	margin: 0;	
}

.module-media #media-library .tab-pane{
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	padding: 10px;	
}

#media-upload-iframe body{
	background-color: #FFF;	
}

#media-upload-iframe {
	margin: 2.5%;
	width: 95%;
	height: 200px;	
	border-bottom: 1px solid #CCC;
}

.module-media #media-upload-iframe{
	border-bottom: 0 solid #FFF;	
}

#media-import,
#media-upload{
	padding: 15px 0;
	float: left;
	width: 49%;
	margin: 0;
	min-height: 150px;
	border-right: 1px solid #DDD;
	opacity: .5;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

#media-import:hover,
#media-upload:hover{
	opacity: 1;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

#media-import{
	border-right: none;
	width: 45%;
	padding-left: 4%;	
}

.input-island{
	display: block;
	margin: 15px 0;	
}

#media-upload h2,
#media-import h2{
	font-size: 21px;
	font-weight: 300;
	margin: 0;
	padding: 0;	
}

#media-import small{
	margin: 0;
	padding: 0;	
}

.gallery-header{
	display: block;	
	border-bottom: 1px solid #DDD;
	box-shadow: 0 1px 5px -5px rgba(0,0,0,.8);
	padding: 5px;
	margin-bottom: 10px;
}

.gallery-header .input-append{
	margin-bottom: 0;	
}

.gallery-container{
	float: left;
	width: 64%;
	padding: 10px 1%;
	margin: 0 0 10px 0;
	border-right: 1px solid #DDD;
	background-color: #FFF;
	min-height: 50px;
	height: auto !important;
	height: 50px;	
}

.gallery-box{
	display: block;	
}

.gallery-side-info{
	float: left;
	width: 30%;
	padding: 10px 1.5%;
	
}

.gallery-container ul{
	padding: 0;
	margin: 0;
}

/* THUMBS VIEW */
.gallery-show-thumbs li{
	float: left;	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gallery-show-thumbs li a{
	float: left;
	width: 130px;
	height: 130px;
	overflow: hidden;	
	border: 3px solid #DDD;	
	border-radius: 5px;
	margin: 3px;
	position: relative;
	vertical-align: central;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.gallery-show-thumbs li a:hover{
	box-shadow: 0 0 4px rgba(0,153, 255,.8);
	border: 3px solid #09F;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.gallery-show-thumbs li .file-loader-btn:hover,
.gallery-show-thumbs li .file-loader-btn:active,
.gallery-show-thumbs li .file-loader-btn{
	color: rgba(0,0,0,.2);
	text-decoration: none;
	background-color: #EEE;
	text-shadow: -1px -1px 0 rgba(255,255,255,.3);
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.gallery-show-thumbs li .file-loader-btn:hover{
	color: rgba(0,0,0,.5);
	background-color: #FAFAFA;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.gallery-show-thumbs li .file-loader-btn i{
	display: block;
	margin: 35px auto 5px;
	text-align: center;	
}

.gallery-show-thumbs li a span{
	width: 100px;
	position: absolute;
	bottom: 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.5);
	display: block;
	margin: 0 auto;
	left: 5px;
	padding: 5px 10px;
	color: #FFF;
	font-size: 0.9em;
	word-wrap:break-word;
}

.gallery-show-thumbs li a .attachment-fileinfo,
.gallery-show-thumbs li a .attachment-label{
	display: none;	
}


.gallery-show-thumbs li a img{
	width:100%;
	height: 100%;
	max-width: 130px;
	max-height: 130px;	
	vertical-align: central;
}

.gallery-show-thumbs li .active{
	border: 3px solid #09F;
}

.gallery-show-thumbs li .attachment-document-icon{
	background-image:url(../gr/glyphicons/glyphicons_036_file.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: .7;	
}

/* LIST VIEW */

.gallery-show-list li{
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #DDD;
}

.gallery-show-list li a{
	display: block;
	padding: 5px;
	line-height: 40px;
}

.gallery-show-list li a:hover{
	background-color: #EEE;	
}

.gallery-show-list li a .attachment-fileinfo{
	float: right;	
	line-height: 40px;
	color: #777;
}

.gallery-show-list li a img{
	width:100%;
	max-width: 40px;
	max-height: 40px;
	margin-right: 10px;		
}

/* ATTACHMENT PREVIEW */

.attachment-file-info-container{
	display: block;
	position: relative;
	padding: 20px;
	background-color: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,.1);	
	border: 2px solid #DDD;
	border-radius: 10px;
}

.gallery-side-info{
	background-color: #FFF;
	display: block;
	min-height: 150px;
	height: auto !important;
	height: 150px;	
	word-wrap:break-word;
}

.gallery-side-info .attachment-details-header{
	display: block;
	border-bottom: 1px solid #DDD;
	box-shadow: 0 1px 5px -7px rgba(0,0,0,.8);
	padding-bottom: 20px;
	word-wrap:break-word;
}

.gallery-side-info h4{
	margin: 0 0 10px 0;	
	border-bottom: 1px solid #DDD;
	padding: 0 0 10px 0;
	word-wrap:break-word;
}

.gallery-side-info h6,
.gallery-side-info h5{
	margin: 0;
	padding: 0;
	font-size:1em;
	color: #444;	
	word-wrap:break-word;
}

.gallery-side-info h6{
	font-size: 0.9em;
	font-weight: normal;
}

.gallery-side-info .attachment-preview{
	max-width: 100px;
	max-height: 100px;
	float: left;
	margin: 0 10px 10px 0;	
}

.gallery-side-info .attachment-document-icon{
	background-image:url(../gr/glyphicons/glyphicons_036_file.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0,0,0,.05);
	border: 1px solid #CCC;
	opacity: .7;
	float: left;
	width: 19px;
	height: 24px;
	opacity: .8;
	padding: 20px;
	margin: 0 10px 10px 0;	
}

.gallery-side-info .attachment-details-body{
	display: block;
	padding: 10px;	
}

.gallery-side-info .attachment-details-body .attachment-related-posts,
.gallery-side-info .attachment-details-body .attachment-related-posts li{
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

/* SIDEBAR ATTACHMENTS */

.side-default-image-box{
	display: block;
	border: 1px dotted #888;
	width: 93%;	
	min-height: 120px;
	padding: 10px 3%;
}

.side-default-image-box-dropped{
	
}

.side-default-image-box .default-image{
	position: relative;	
}

.side-default-image-box img{
	width: 120px;
	height: 120px;
	margin-right: 10px;	
}

.side-default-image-box #remove-default-image{
	position: absolute;
	top: 5px;
	opacity: 0.4;
	left: 5px;	
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.side-default-image-box #remove-default-image:hover{	
	opacity: 1;	
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.side-attachments-list{
	margin: 0 0 10px;
	padding: 0;	
}

.side-attachments-list li{
	margin: 0;
	padding: 3px;
	list-style-type: none;
	line-height: 2.5em;
	font-size: 0.9em;
	display: block;
	border-bottom: 1px solid #DDD;
	background-color: #FFF;
}

.side-attachments-list li small{
	display: block;
}

.side-attachments-list li .file-info{
	display: none;	
}

.side-attachments-list li .file-label{
	float: left;
	width: 80%;
	text-wrap:suppress;
	line-height: 1.3em;	
}

.side-attachments-list li .file-label em{
	display: block;	
}

.side-attachments-list li a.btn{
	margin-top: 5px;	
}

.side-attachments-list li img{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	float: left;	
}

#sidebar-media-manager{
	display: block;
	overflow-y:auto;
	max-height: 250px;	
}

.drag-here-label{
	display: block;
	width: 80%;
	word-break:break-all;
	padding: 5px;
	border-radius: 5px;
	margin: 40px auto 0;
	text-align: center;
	color: #FFF;
	background-color: rgba(0,0,0,.2);	
}

/* ATTACHMENT EDIT SCREEN */
.attachment-info{
	display: block;
	border-bottom: 1px solid #DDD;
	padding: 15px;
	margin-bottom:15px;
}

.attachment-info input,
.attachment-info textarea{
	width: 400px;	
}

/* ATTACCHED VIDEOS */

.video-thumbs{
	margin: 0;
	padding: 0;	
}

.video-thumbs li{
	list-style-type: none;
	display: block;
	margin: 0 0 10px 0;
	padding: 0;	
}

/* PHOTO EDITOR */

.photo-editor{
	display: block;
	padding: 15px;
	min-height: 500px;	
}

.photo-tabs{
	float: left;
	width: 150px;
	margin: 0;
	padding: 0;
}

.photo-tabs li{
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

.photo-tabs li a{
	color: #333;
	display: block;
	padding: 5px 0;
	border-bottom: 1px solid #CCC;
}

.photo-tabs li a.active{
	font-weight: bold;	
}

.photo-container{
	float: left;
	width:694px;
	padding-left: 20px;
	margin-bottom: 15px;
	border-left: 1px solid #CCC;
}

.photo-container .photo{
	position: relative;	
}

.photo-container .photo img{
	max-height: 500px;
	max-width: 600px;
	display: block;
}

.photo-container .photo .btn-group{
	position: absolute;
	z-index: 3;
	top: 3px;
	right: 3px;	
}

.photo-container .photo .info{
	margin-bottom: 15px;
	position: absolute;
	z-index: 2;
	top: 3px;
	left: 3px;
	font-size: 12px;
	padding: 2px 5px;
	/*border-radius: 5px;
	border: 1px solid rgba(255,255,255,.9);
	background-color: rgb(255,255,255);
	box-shadow: 1px 1px 0 rgba(0,0,0,.5);
	
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
	padding: 2px 5px;*/	
}

/* CROPPING TOOL */
.crop-tool{
	display: none;
	height: 600px;
	padding: 10px;	
}

.crop-container{
	display: block;
	width: 800px;
	height: 500px;
}
/*
.crop-preview img{	
	max-width: 800px;
	max-height: 500px;	
}
*/

/* TRANSCODES */

#transcodes-table td img{
	width: 100%;
	max-width:100px;	
}

/* BOOTSTRAP OVERRIDES */

.modal.fade.in{
	top: 5%;
}

.modal-large{
	width: 940px;
	margin-left: -470px;
}

.modal-tall .modal-body{
	min-height: 500px;	
}

.modal-body{
	max-height: 500px;	
}
