/* CSS Document */

body{
	background-color: #F5F5F5;
	padding-top: 60px;
    padding-bottom: 40px;
}

/* clearfix */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.container{
	
}

a{
	outline: none;	
}

.navbar .brand{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
	color: #000;
	font-weight: bold;	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.navbar .brand:hover{
	color: #FAFAFA;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.subnav{
	margin: 3px 0 3px 10px;
	padding: 0;	
}

.subnav li{
	list-style-type: none;
	font-size: 0.9em;
	margin: 0;
	padding: 3px 8px;
}

.subnav li.active{
	background-color: rgba(0, 136, 204,.8);
	color: #FFF;
	border-radius: 5px;
}

.subnav li.active a{
	color: #FFF;
}

/* DASHBOARD */

.dashboard h1{
	margin-bottom: 15px;	
}

.dashboard-widget{
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	display: block;
	padding: 15px;
	background-color: #FFF;
	box-shadow: 0px 3px 0 rgba(0,0,0,.1);
}

.dashboard-widget h3{
	font-size: 18px;
	content: " ";
	font-weight: 400;
	line-height: 1.1em;
	color: #333;
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;	
}

/* PAGE VIEW */

.page-view{
	background-color: #FFF;
	padding: 20px;
	border-radius: 10px;
	display: block;	
	margin-bottom: 20px;
}

.page-view h2{
	border-bottom: 1px solid #CCC;
	font-size: 1.7em;
}

/* SETTINGS */

.action-settings h2{
	margin-bottom: 0;
}

.form-block{
	padding: 15px;
	display: block;
	background-color: #FCFCFC;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 1px 0 #FFF;
	margin-bottom: 15px;
}

.form-block fieldset{
	margin-bottom: 30px;	
}

.settings-image-format{	
	line-height: 1em;
	margin: 1.5% 1%;
	float: left;
	width: 45%;
	min-width: 350px;
	border-radius: 5px;
	background-color: #F9F9F9;
	border: 1px solid #DDD;
	padding: 5px 1%;
}

.format-edit-form-header{
	padding: 5px 0 0;
	display: block;
	margin-bottom: 10px;	
}

.format-edit-form-header,
.settings-image-format h5{
	display: block;
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;	
}

.settings-image-format p{
	font-size: 0.9em;
	line-height: 1.2em;	
}

/* LOGIN */

#login-container{
	padding: 50px 0;	
}

#login{
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 15px;
	max-width: 300px;
	background-color: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	display: block;
	margin: 0 auto;
}


#login-page{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.fullscreen-bg{	
	z-index: -999;
	min-height: 100%;
	min-width: 600px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;	
}

#login-container{
	position: relative;
	width: 100%;
	min-height: 400px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;	
}

#login{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	margin-top: -200px;	
	border: 1px solid #FFF;
	margin-left: -150px;
	box-shadow: 0 4px 0px rgba(0,0,0,.2);
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/* jSwicher */

.switcher{
	float: left;
	width: 113px;
	height: 28px;	
}

.switcher .switch-onoff,
.switcher .switch-user,
.switcher .switch{
	background-image:url(../gr/switch/switch.png);	
	display: block;
	height: 28px;
	text-align: left;
	text-indent: -9999px;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	-o-transition: background-position .3s ease;
	transition: background-position .3s ease;
}

.switcher .switch-user{
	background-image:url(../gr/switch/switch_user_status.png);
}

.switcher .switch-onoff{
	background-image:url(../gr/switch/switch_onoff.png);
}

.switcher .on{
	background-position: -72px 0;	
}

.switcher .off{
	background-position: 0 0;
}

/* SEARCH */

#search-form{
	opacity: .5;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

#search-form:hover{
	opacity: 1;	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

#search-form .input-medium{
	width: 120px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#search-form:hover .input-medium{
	width: 220px;	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

/* TABLES */

table{	
	/*border: 1px solid #e5e5e5;	
	border-radius: 6px;*/
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

table .table-row-status{
	width: 115px;
}	

table .table-row-options{
	width: 100px;	
}

table td .list-thumb-icon{
	float: left;
	margin: 0 10px 0 0;
	max-height: 64px;
	max-width: 64px;
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,.8);
	box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

table td .list-thumb-icon.list-thumb-icon-mini{
	width: 42px;
	height: 42px;
}	

.table-small-list td .table-info-line,
.table-small-list td .list-thumb-icon{
	display: none;	
}

.buttons-bar{
	display: block;
	margin-bottom: 20px;	
}

.table-info-line{
	display: block;
	font-size: 0.9em;
}

.buttons-bar .input-append,
.buttons-bar .input-prepend{
	margin-bottom: 0;	
}

/* SORTING TOOL */

.sort-tool-container{
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	background: rgb(250,250,250); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */	
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */	
	background: -o-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Opera 12+ */	
	background: -ms-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */	
	background: radial-gradient(ellipse at center,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 1px solid #FFF;
	box-shadow: inset -1px -1px 0 rgba(0,0,0,.1), -1px -1px 0 rgba(0,0,0,.1);
	border-radius: 10px;
}

.sort-tool-container ul{
	margin: 0;
	padding: 0;	
}

.sort-tool-container li{
	float: left;
	width: 80px;
	height: 80px;	
	list-style-type: none;
	margin: 3px;
	padding:0;
	border-radius:10px;
	border: 1px solid #FFF;
	box-shadow: 1px 1px 0 rgba(0,0,0,.5);
	background: rgb(255,255,255); /* Old browsers */	
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 78%, rgba(226,226,226,1) 100%); /* FF3.6+ */	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(78%,rgba(237,237,237,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */	
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 78%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */	
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 78%,rgba(226,226,226,1) 100%); /* Opera 12+ */	
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 78%,rgba(226,226,226,1) 100%); /* IE10+ */	
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 78%,rgba(226,226,226,1) 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sort-tool-container li a{
	position: relative;
	float: left;
	text-align: center;
	width: 100%;
	font-size:12px;
	height: 100%;
	color: #444;
}

.sort-tool-container li a:hover{
	text-decoration: none;
}

.sort-tool-container li a i{
	line-height: 1em;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	display: block;
}

.sort-tool-container li a .text{
	line-height: 1em;
	font-size: 12px;	
}

.sort-tool-container li .badge{
	position: absolute;
	bottom: 3px;
	opacity: .7;
	right: 3px;
	z-index: 4;	
}

.sort-tool-container li img{
	width: 100%;
	border-radius:10px;
	height: 100%;	
}

/* FORMS */
textarea{
	margin-bottom: 20px;	
}

.show-on-saved{
	display: none;	
}

.saved .show-on-saved{
	display: block;	
}

#form-wrapper{
	display: block;
	width: 100%;
	position: relative;
}

#form-wrapper form{
	float: left;
	width: 100%;	
}

#form-wrapper .expanded-form{
	width: 100%;
	float: left;
	transition: width .5s;
	-moz-transition: width .5s; /* Firefox 4 */
	-webkit-transition: width .5s; /* Safari and Chrome */
	-o-transition: width .5s; /* Opera */	
}

#form-wrapper .compressed-form{
	width: 65%;
	float: left;
	transition: width .5s;
	-moz-transition: width .5s; /* Firefox 4 */
	-webkit-transition: width .5s; /* Safari and Chrome */
	-o-transition: width .5s; /* Opera */		
}

.form-toolbar{
	display: block;
	margin: 0 0 10px;	
}

/* SIDEBAR */

.sidebar{
	background-color: #FFF;
	border-radius: 5px;
	border: 1px solid #CCC;
	/*position: absolute;*/
	/*display: block;
	z-index: 10;*/
	/*right: 0;*/
	float: right;
	overflow: hidden;	
	padding: 20px 3%;
	width: 27%;
}

.sidebar-expanded{
	opacity: 1;
	transition: width .5s, opacity .5s;
	-moz-transition: width .5s, opacity .5s; /* Firefox 4 */
	-webkit-transition: width .5s, opacity .5s; /* Safari and Chrome */
	-o-transition: width .5s, opacity .5s; /* Opera */		
}

.sidebar-collapsed{
	/*display: none;*/
	width: 0;
	padding: 0;
	opacity: 0;
	transition: width .5s, opacity .5s;
	-moz-transition: width .5s, opacity .5s; /* Firefox 4 */
	-webkit-transition: width .5s, opacity .5s; /* Safari and Chrome */
	-o-transition: width .5s, opacity .5s; /* Opera */		
}

.sidebar h3{
	font-size: 1.2em;
	border-bottom: 1px solid #CCC;
	margin: 0 0 10px;
	padding: 0 0 10px;
	line-height: 1.2em;	
}

.sidebar .side-section {
	margin-bottom: 10px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;	
}

.sidebar .side-section h4{
	margin: 10px 0 0;
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
}

.sidebar .sidebar-categories-manager ul{
	margin: 0;
	padding: 1px 1px 5px;
	display: block;	
}

.sidebar .sidebar-categories-manager ul li{
	margin: 0 0 3px 0;
	padding: 7px;
	line-height: 1.2em;
	display: block;
	border-bottom: 1px solid #DDDDDD;
	list-style-type: none;	
}

/* CATEGORY MANAGER */

#explore{
	display: block;	
}

#explore ul{
	margin: 0;
	padding: 0;
}

#explore ul li{
	list-style-type: none;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #CCC;
	margin: 0;	
}

#explore ul li a{
	
	
}

#explore ul li:hover{
	background-color: #EEE;	
}

/* SETTINGS */

.settings-format-container{
	display: block;	
}

.setting-format-box{
	float: left;
	width: 29.5%;
	margin: 0 1% 10px 0;
	padding: 1%;
	border: 1px solid #CCC;
	border-radius: 5px;
	background-color: #FFF;
}

.setting-format-box button{	
	margin: 0 10px 10px 0;
}

/* VARIOUS */
.hidden{
	display: none;	
}

.circle-btn,
.circle-btn:hover{
	text-decoration: none;
	width:20px;
	height: 20px;
	float: right;
	border-radius:50%;
	border: 1px solid #AAA;
	content: " ";
	color: #BBB;
	padding: 0;
	font-size:14px;
	text-align:center;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.3);
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */	
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */	
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */	
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */	
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.circle-btn.active,
.circle-btn.active:hover{
	color: #FFF;
	border: 1px solid #2b6a2b;
	background: #62c462; /* Old browsers */
	background: -moz-linear-gradient(top,  #62c462 0%, #51a351 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c462), color-stop(100%,#51a351)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #62c462 0%,#51a351 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #62c462 0%,#51a351 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #62c462 0%,#51a351 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #62c462 0%,#51a351 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c462', endColorstr='#51a351',GradientType=0 ); /* IE6-9 */
}

/* PERMALINK */
.permalink{
	 color: #555;
	 font-size: 0.9em;	
}

.permalink .perma-edit{
	background-color: #FFFFE2;	
}

.permalink input{
	font-size:1em;
	line-height: 16px;
	height: 16px;
	padding: 3px 3px;
	margin-bottom: 0;	
}

/* jLoader Custom */
.loading{
	display: block;
	text-align: left;
	min-width: 160px;
	font-size: 14px;
	max-width: 250px;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	background-color: #FFF;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 10px center;	
}

/* CKEDITORS CSS EDITS */

.cke_editable img.left{
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

.cke_editable img.right{
	float: right;
	margin-left: 20px;
	margin-top: 10px;
}

.cke_editable p:before,
.cke_editablep:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cke_editable p:after {
    clear: both;
}

/* WIDGETS */

.dashboard-widget{
	font-size: 12px;	
}

.dashboard-widget table td{
	word-break:loose;
}

.dashboard-widget table .to-right{
	text-align: right;	
}

/* BOOTSTRAP OVERRIDES */

.navbar-text{
	margin-right: 15px;	
}

.modal form{
	margin: 0;
	padding: 0;	
}

#upload .progress{
	margin-top: 25px;	
}

.tab-content{
	overflow: none;	
}