/* CSS Document */

.thumb-column{
	width: 50px;	
}

.thumb-column img{
	width: 100%;	
}

table th.to-right,
table td.to-right{
	text-align: right;	
}

table .table-thumb{
	width:100px;	
}

table .table-thumb img{
	width: 100%;
	max-width: 100px;	
}