/* CSS Document */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=f16b1f7c-1c26-42c0-92f3-acba5d9cbbe6");
@font-face{
font-family:"Myriad W01 It";
src:url("Fonts/b7dea71a-f8e7-42e0-b03b-ae1b0b6eb0cd.eot?#iefix");
src:url("Fonts/b7dea71a-f8e7-42e0-b03b-ae1b0b6eb0cd.eot?#iefix") format("eot"),url("Fonts/7becdf28-cd45-4f8a-bcab-d8c861a8ebc5.woff") format("woff"),url("Fonts/b90a1a2e-a700-4528-aa00-535c93ecf8a9.ttf") format("truetype"),url("Fonts/85c745b1-d826-4e09-988f-82cd152fb0db.svg#85c745b1-d826-4e09-988f-82cd152fb0db") format("svg");
}
@font-face{
font-family:"Myriad W01 Lt";
src:url("Fonts/b3e9f984-f8ca-4650-90c3-d6f0aca0a27d.eot?#iefix");
src:url("Fonts/b3e9f984-f8ca-4650-90c3-d6f0aca0a27d.eot?#iefix") format("eot"),url("Fonts/b984f4e8-e37d-4502-bead-ffd991e64d1f.woff") format("woff"),url("Fonts/82d18baa-8811-4aa8-9338-9bafa08350d0.ttf") format("truetype"),url("Fonts/20e14bb9-6aec-47a9-8ef8-5613bf1d6eae.svg#20e14bb9-6aec-47a9-8ef8-5613bf1d6eae") format("svg");
}
@font-face{
font-family:"Myriad W01 Regular";
src:url("Fonts/2bd106a4-3872-4193-8627-d7af96dd4f7e.eot?#iefix");
src:url("Fonts/2bd106a4-3872-4193-8627-d7af96dd4f7e.eot?#iefix") format("eot"),url("Fonts/c5b1c170-d8f7-41f9-85c2-0ab670780c6b.woff") format("woff"),url("Fonts/ba1ff8f6-0c27-4e7b-8be5-818b6c3dd801.ttf") format("truetype"),url("Fonts/a379413e-a0b8-44dc-b250-1e000e4092a4.svg#a379413e-a0b8-44dc-b250-1e000e4092a4") format("svg");
}
@font-face{
font-family:"Myriad W01 SmBd";
src:url("Fonts/f71415c0-f68d-42cd-a948-05af81548ea5.eot?#iefix");
src:url("Fonts/f71415c0-f68d-42cd-a948-05af81548ea5.eot?#iefix") format("eot"),url("Fonts/c22866d7-ca67-4170-a113-cae280eea669.woff") format("woff"),url("Fonts/19ce9ea9-076e-4dcd-91a1-454f4830f120.ttf") format("truetype"),url("Fonts/18915124-98e4-4245-9e10-b921e09a6704.svg#18915124-98e4-4245-9e10-b921e09a6704") format("svg");
}


body{
	font-family:'Myriad W01 Lt';
	font-size: 16px;
	line-height: 20px;
	color: #565759;
	background-color:#67686A;
}

em, i{
	font-family:"Myriad W01 It";
	font-style: normal;
}

strong, b{
	font-family:"Myriad W01 SmBd";
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-family:"Myriad W01 SmBd";
	margin: 0;
}

a{
	text-decoration: none;
	color: #00b9f1;
}


a:hover, a:active, a:focus{
	outline: none;
	text-decoration: underline;
	color: #00a2ec;
}

li{
	list-style: none;
}

ul, ol {
    margin: 0;
}

.btn{
	font-size:16px;
	float: left;	
	margin-top: 15px;
}

.btn-primary{
	font-size:16px;
	float: right;	
	margin-top: 15px;
	background-color: #0086cd;
    background-image: linear-gradient(to bottom, #00b9f1, #0086cd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
	background-color: #0086cd;
}

header h1{
	background:url("../gr/copyclear_logo.png") no-repeat;
	width: 239px;
	height: 52px;
	float: left;
	text-indent: -9999px;
	margin: 20px 15px;
}

.copyline{
	background:url("../gr/copyline.png") no-repeat;
	width: 398px;
	height: 43px;
	float: left;
	text-indent: -9999px;
	margin-top: 30px;
}

.container{
	position: relative;	
}

.container h2{
	margin: 10px 0;
	font-size: 26px;	
}

section{
	margin-bottom: 30px;
}

.main-content h1{
	padding: 15px 10px;
	margin-bottom: 15px;
	font-size:32px;
	border-bottom: 1px solid #D6D6D6;
}

.tagline h1{
	border-bottom: 0;
}

h1{
	font-size: 30px;
	line-height: 36px;
}

.list {
	border-left: 1px solid #dddddd;
	padding: 0px 15px;
}

header{
	background-color:#fff;
}

header .toolbar {
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
	font-size: 14px;
}

nav{
	background-color: #e1e0d6;
	border-top: 1px solid #c0bfb8;
	border-bottom: 1px solid #c0bfb8;
}

.navbar {
	display:block;
	margin-bottom: 0;
	min-height: 0;
}

.navbar  > li > a {
	font-family:"Myriad W01 SmBd";
	font-size: 16px;
	padding: 12px 14px;
	float:left;
	color: #67686a;	
	border-right: 1px solid #c0bfb8;
}

.navbar.topnav {
	border-left: 1px solid #c0bfb8;
	float: left;
	width: 60%;
}

.navbar > li > a:focus, .navbar > li > a:hover, .navbar > li > a.active{
	background-color: #f5f5f2;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
	text-decoration:none;
}

.navgrey{
	color:#3C3D3E;
}

.username{
	font-family: 'Myriad W01 SmBd';
	font-size: 16px;
	background-color: #0086cd;
    background-image: linear-gradient(to bottom, #00b9f1, #0086cd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 12px 20px 3px 20px;
	/*display: none;*/
}

.username a{
	color: #fff;
}

.sub_section{
	margin-bottom: 15px;
}

ul{
	padding-left:0;
}

.complete{
	background-color:#67686a;
	color: #fff;
	
}

.next{
	background-color:#dad9cd;
	color: #9b9a91;
}

.beige{
	background-color: #f0efe9;
}

.top-row, .bottom-row{
	padding: 0;	
}

.circ-color{
	width: 50%;
	float: left;
	text-align: center;
}

.circ-color a{
	height: 184px;
	width: 184px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border-radius: 200px 200px 200px 200px;
	text-align: center;	
	display: block;
	margin: 0 auto;
}

.who a{
	background:url("../gr/txt_who.png") center no-repeat;
	text-indent: -9999px;
	background-color:#0086cd;
	
}

.who a:hover{
	background-color:#006cbf;	
}

.remit a{
	background:url("../gr/txt_remit.png") center no-repeat;
	text-indent: -9999px;
	background-color:#00b0ef;
}

.remit a:hover{
	background-color:#00a6ed;	
}

.mission a{
	background:url("../gr/txt_mission.png") center no-repeat;
	text-indent: -9999px;
	background-color:#d5d4c6;
}

.mission a:hover{
	background-color:#c9c8b7;	
}

.behaviour a{
	background:url("../gr/txt_behaviour.png") center no-repeat;
	text-indent: -9999px;
	background-color:#c2c2c2;
}

.behaviour a:hover{
	background-color:#b1b1b1;	
}

.intro{
	border-bottom: 2px solid #dad9cd;
	padding-bottom: 15px;
}

.hometext{
	font-size: 19px;
	line-height: 23px;
}

.news .col-md-6{
	padding: 30px 30px 0;
}

.news-story h3{
	border-bottom: 2px solid #c9c9c9;
	margin-bottom:10px;
	padding-bottom:10px;
}

.footer{
	color: #fff;
	background-color: #67686a;
	font-size:13px;
	text-align:center;
	padding-top:15px;
}

.footer section{
	margin-bottom: 0;
}

.sidenav{
	border-radius: 5px 5px 5px 5px;
	padding: 10px 15px;
	margin-bottom: 3px;
	background-color:#dad9cd;
}

.sidenav a{
	color: #67686a;
}

.subnav{
	margin-top: 15px;
}

.current{
	background-color:#00b9f1;
}

.current a{
	color: #fff;
}

.profile{
	margin-bottom: 30px;
}

.profile img{
	margin: 0 0 0px 30px;
	border: 6px solid #fff;
}

.main-content h3{
	color:#0086cd;
	font-size: 21px;
	border-bottom: 1px solid #DAD9CD;
	padding-bottom: 6px;
	margin-bottom: 6px;
}

.bullet{
	list-style: disc;
	margin-left: 30px;
}

.list-styled{
	margin-bottom: 15px;
}

.downloads{
	background-image: url("../gr/down_arrow.png");
    background-repeat: no-repeat;
	background-position: 10px 6px;
	background-color: #fff;
	border: 1px solid #D9D7CB;
	border-radius: 5px 5px 5px 5px;
	margin-bottom:5px;
	padding: 10px;
	text-indent: 35px;
}

.download-col{
	padding: 0 30px;
}


.ccci{
	padding-bottom: 10px;
}

.toplogo {
	float:right;
	margin-top:10px;
	text-align:right;
}

.byline{
	font-size: 12px;
	color: #0086CD;
}

.last-download{
	margin-top: 30px !important;
}

.address{
	border-bottom: 1px solid #8a8a88;
	padding-bottom: 15px;
}

.white{
	background-color:#fff;
}


/* styles for side nav */
#showLeftPush{
	display: none;
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 12;
}

.mobile-nav-btn .icon-bar{
	background-color: #E1B74A;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    display: block;
    height: 4px;
    width: 40px;
	margin-bottom: 4px;	
}

.cbp-spmenu {
	background: #0074c6;
	position: fixed;
}

#cbp-spmenu-s1 ul li, #cbp-spmenu-s1 ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color:  #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a.active,
.cbp-spmenu a:hover {
	background: #00b9f1;
	color:  #fff;
	text-decoration:none;
}

.cbp-spmenu a:active {
	background: #00b9f1;
	color:  #fff;
	text-decoration:none;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #C0BFB8;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
