/* CSS Document */

/* Large desktop */
@media (min-width: 1200px) {
	.container{
		width: 940px;
	}
}

@media (min-width: 979px) {
	.container{
		width: 940px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	.videoWrappercc > iframe{
		width: 100%;
		height: 400px;
	}

	.circ-color a{
		height: 150px;
		width: 150px;
		-webkit-border-radius: 180px 180px 180px 180px;
		border-radius: 180px 180px 180px 180px;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	.who a{
	background:url("../gr/txt_who_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#0086cd;

}

.remit a{
	background:url("../gr/txt_remit_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#00b0ef;
}

.mission a{
	background:url("../gr/txt_mission_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#d5d4c6;
}

.behaviour a{
	background:url("../gr/txt_behaviour_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#c2c2c2;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.videoWrappercc > iframe{
		width: 100%;
		height: 300px;
	}

	header h1{
		background:url("../gr/copyclear_logo.png") no-repeat;
		width: 180px;
		height: 39px;
		float: left;
		text-indent: -9999px;
		margin: 20px 15px;
		background-size: 180px 39px;
	}

	.address{
		font-size: 15px;
	}

	.category-title{
		margin-left: -15px;
		margin-right: -15px;
	}

	.main-content h1{
		background: #0086cd;
		color: #fff;
		font-size: 26px;
		padding: 15px;
	}

	.main-content h1.copyline{
		background:url("../gr/copyline.png") no-repeat;
		width: 259px;
		height: 28px;
		display: block;
		text-indent: -9999px;
		margin-top: 30px;
		background-size: 259px 28px;
		margin-left: 15px;
	}

	.profile img{
		margin: 0 0 10px 10px;
	}

	#showLeft{
		background: #00b9f1; /* Old browsers */
		background: -moz-linear-gradient(top,  #00b9f1 0%, #0086cd 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b9f1), color-stop(100%,#0086cd)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #00b9f1 0%,#0086cd 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #00b9f1 0%,#0086cd 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #00b9f1 0%,#0086cd 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #00b9f1 0%,#0086cd 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b9f1', endColorstr='#0086cd',GradientType=0 ); /* IE6-9 */
		padding-bottom: 3px !important;
		text-transform: none;
		font-size: 14px;
		font-family: Myriad W01 SmBd;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;
		color: #fff;
	}

	#showLeft:hover{
		background: #0086cd; /* Old browsers */
		background: -moz-linear-gradient(top,  #0086cd 0%, #00b9f1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0086cd), color-stop(100%,#00b9f1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #0086cd 0%,#00b9f1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #0086cd 0%,#00b9f1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #0086cd 0%,#00b9f1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #0086cd 0%,#00b9f1 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086cd', endColorstr='#00b9f1',GradientType=0 ); /* IE6-9 */
	}

	.news-promo{
		border-bottom: 1px solid #C9C9C9;
		padding-bottom: 30px !important;
	}

	.circ-color a{
		height: 130px;
		width: 130px;
		-webkit-border-radius: 180px 180px 180px 180px;
		border-radius: 180px 180px 180px 180px;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	.who a{
	background:url("../gr/txt_who_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#0086cd;
	background-size: 116px 53px;

}

.remit a{
	background:url("../gr/txt_remit_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#00b0ef;
	background-size: 116px 53px;
}

.mission a{
	background:url("../gr/txt_mission_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#d5d4c6;
	background-size: 116px 53px;
}

.behaviour a{
	background:url("../gr/txt_behaviour_xs.png") center no-repeat;
	text-indent: -9999px;
	background-color:#c2c2c2;
	background-size: 116px 53px;
}

.bottom-row{
		margin-top: 20px;
	}

}

/* Landscape phones and down */
@media (max-width: 599px) {

.profile img{
		width: 50%;
	}


}

@media (min-width: 600px) and (max-width: 767px) {

}
