/* CSS Document */

#revisions-manager{
	display: block;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #DDD;	
}

#revisions-history{
	margin: 0;
	padding: 0;	
}

#revisions-history li{
	margin: 0;
	padding: 5px;
	display: block;
	font-size: 0.9em;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #CCC;
	/*box-shadow: 0 1px 0 #CCC;*/
	list-style-type: none;	
}