/* CSS Document */

#tag-manager{
	display: block;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #DDD;	
}

#tag-manager .input-prepend{
	margin-bottom: 2px;	
}

#tag-manager .tag-line{
	display: block;
	width: 100%;	
}

#tag-manager small{
	display: block;	
}

#tag-box{
	display: block;
	margin: 0;
	padding: 0;	
}

#tag-box li{
	list-style-type: none;
	float: left;
	padding: 4px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 3px;
	font-size: 0.8em;
	line-height: 1em;
}

#tag-box li a{
	float: right;
	margin: 0 0 0 5px;
	line-height: 1.2em;
	font-weight: bold;
	color: red;	
}